body {
    background-image: url("b5.jpg");
	background-size = 100% 100%;
	height: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
h1 {
    font-family: verdana;
    font-size: 200%;
	text-align: center;
}
p  {
    font-family: courier;
    font-size: 120%;
	margin: 50px;
}

div.loginInfo {
	margin: 20px 0 20px 0;
	padding: 1px 1px;
}

div.image {
	text-align: center;
}

div.f{
	background-color = black;
	opacity = 0.8;
	font-family:Arial,sans-serif;
	font-size: 20px;
	text-align: center;
}

div.e{text-align: right;}



form {
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
	
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}